DB_TYPE=mysql # supported db types are mysql / mariadb / postgres / postgresql

# Database Connections
DB_HOST=127.0.0.1
DB_PORT=3306         # postgres: 5432
DB_USER=cte_audit
DB_PASSWORD=SuperSecret
DB_NAME=myapps

# Optional: daftar nama kolom PII
PII_COLUMNS=email,notelp,nik,fullname
